body {
    background-image: url(Fondo_Inicio/Inicio\ Fondo.jpeg); /*Esto nos permite poner la foto que queramos como fondo*/
    background-repeat: no-repeat;  /*Evita que la imagen se repita, es decir que se duplique (esto ocurre cuando la imagen no ocupa el body por completo)*/
    background-attachment: fixed; /*Fija la imagen de fondo en su posicion para que no se desplace*/
    background-size: cover; /*Ajusta la imagen para que ocupe todo el body, menteniendo la relacion de aspecto*/
    background-position: center; /*Centramos la imagen de fondo en el centro de la pantalla*/
    height: 100vh; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
#grib {
    display: grid;
    height: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "head"
                         "down";
}

#Arriba {
    grid-area: head;
    display: grid;
    grid-template-columns: 25% 17% 8% 8% 17% 25%;
    grid-template-rows: 20% 27% 5% 27% 21%;
    grid-template-areas: "head0 head0 head0 head0 head0 head0"
                         "vacio1 titulo1 titulo1 titulo1 vacio2 vacio3"
                         "vacio1 head01 head01 head01 vacio4 vacio3"
                         "vacio1 vacio5 titulo2 titulo2 titulo2 vacio3"
                         "vacio6 vacio6 vacio6 vacio6 vacio6 vacio6";
}

#Arriba1 {
    grid-area: titulo1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
          
}

#Arriba2 {
    grid-area: titulo2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 450%;
    margin: 0%;
}

#Abajo {
    grid-area: down;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 10% 30% 30%;
    grid-template-areas: "vacio1 down1 down1 vacio2"
                         "vacio1 vacio3 vacio3 vacio2"
                         "vacio1 down5 down5 vacio2";}   
#Abajo1 {
    grid-area: down1;
    border-radius: 10px;
}

#Abajo2 {
    grid-area: down5;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 250%;
    margin: 0;
}

button {
    background-color: rgb(4, 63, 112);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: white;
}

button:hover {
    background-color: black;
    width: auto;
    transition: 0.5s;
}
button:hover > a {
    color: rgb(255, 0, 0);
}

@media screen and (max-width:1024px) {
    #grib {
        grid-template-rows: 55% 45%;
    }
    
    #Arriba {
        grid-template-columns: 20% 22% 8% 8% 22% 20%;
    }

    h1 {
        font-size: 390%;
    }
}

@media screen and (max-width:768px) {
    #Arriba {
        grid-template-columns: 10% 25% 15% 15% 25% 10%;
        grid-template-rows: 26% 25% 5% 25% 19%;
    }
    h1 {
        font-size: 350%;
    }
}

@media screen and (max-width:426px) {
    #Arriba {
        grid-template-columns: 5% 27% 18% 18% 27% 5%;
        grid-template-rows: 26% 25% 5% 25% 19%;
    }
    h1 {
        font-size: 290%;
    }
}

